{% extends 'base.html.twig' %}

{% block title %}Hello LinkController!{% endblock %}

{% block body %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>

    </tr>
  </thead>
  <tbody>
    {% for link in links %}
    <tr>
      <th scope="row">{{ link.id }}</th>
      <td>{{ link.title }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
